
modules = ["python-3.12", "web"]
run = "cd backend && poetry run python -m app.main"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd backend && poetry run python -m app.main"]

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Run FastAPI"

[[workflows.workflow]]
name = "Run FastAPI"
author = 5421225
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && poetry run python -m app.main"
